.App {
  text-align: center;
  margin :30px;
  padding : 20px
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

label {
  display: block;
  margin: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 20px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

ul{
  list-style: none;
  list-style-type: none;
}

li{
  padding: 1%;
  margin: 1%;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #3f51b5!important;
}
.feedheading{
  color: rgb(0, 41, 132);
  margin: 25px;
  font-size: 35px;
  position: relative;
}

.question-div-p{
  padding: 2px;
  margin:10px;
  text-align: center;
}

.feed-block-ul .feed-block-li{
  padding: 35px;
  list-style-type: none;
  text-decoration: none;
  text-decoration-style: none;
  border-color: rgb(63, 81, 181);
  border-width: thin;
  border-style: solid;
  border-right: none;
  border-left: none;
  box-shadow: 0 0 20px 0 rgba(0, 205, 189, 0.2);
  box-sizing: border-box;
  display: block;
}

.date{
  font-size: 15px;
  color: #2f3239;
  margin: 0 20px 0 0;
  float: right;
  display: block;
  margin-left: 12px;
  margin-right: 10px;
}

.question{
  display:flex;
}

.question-username{
  display: flex;
  padding: 8px 40px;
  font-size: 14px;
  height: 45px;
  width: 100%;
  text-align: left;
  color: rgb(82, 74, 74);
}

.question-text:hover {
  transform: scale(1.01);
}

.MarkfavQues{
  display: flex;
  justify-content: right;
  float: right;
  color: rgb(63, 81, 181);
  background-color: rgb(235, 217, 222);
  border: 0;
}
.fav-question-list{
  width: fit-content;
  width: 100%;
}

.fav-question-text{
  font-size: 20px;
  block-size:fit-content;
}

.question-text {
  color: #2f3239;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  margin-left: 12px;
  margin-right: 10px;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
}

.answer-ul .answer-ul-li{
  box-sizing: border-box; 
  display: block;
  border-width: thin;
  border-style: solid;
  border-color: rgb(197, 226, 255);
  border-right: none;
  border-left: none;
  background-color: rgb(242, 247, 255);
 } 

.comment-ul .comment-ul-li{
  box-sizing: border-box;
  display: block;
  border-color: rgb(83, 169, 255);
  border-style: thin;
  background-color: rgb(220, 231, 250);
  align-content: center;
  display: flex;
}

.deletequestion{
  display:flex;
  justify-content: space-between;
  margin: 5px;
}

.deleteanswer{
  display:flex;
  justify-content: left;
}

.no-results{
  margin :50px;
  font-size: larger;
  font-style: inherit;
}

.ques-container{
  padding-left: 55px;
}

.question-description{
  float: left;
  font-size: smaller;
  padding-bottom: 5px;
}

.description-heading{
  font-size: smaller;
  text-align: left;
  display :inline;
}

.count{
  text-align: left;
  font-size: smaller;
  color: rgb(82, 74, 74);
  padding: 10px;
}

.optional{
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.66;
  margin-top: 0;
  padding-top: 0;
}

.navbar-expand .navbar-nav .nav-link {
  margin-right: 10px;
  margin-left: 10px;
}

span.readMoreText{
  font-size: small;
  font-weight: 500;
}

.container {
  display: table;
}

.row  {
  display: table-row;
}

.left, .right {
  display: table-cell;
  }
  
.footer{
  margin-top: 0;
  background-color: rgb(229, 231, 235);  font-size: 30px;
}

.footer.footer-a508{
  margin-top: 60; 
  padding: 0;
  border: 0;
  font-family: "Muli", sans-serif;
  vertical-align: baseline;
  color: #2E3C57;
  font-size: 100;
  font-weight: 400;
  line-height: 1.43;
}

.a508{
  font-size: 12px;
  margin-top: 32px ;
  text-align: center;
  font-family: Muli, sans-serif;
  font-weight: 400;
  line-height: 15px;
}
